/* font and text colors */
html{
    font-family: 'Roboto';
}
#header h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42.19px;
}
#header h2{
    font-family:"La Belle Aurore";
    font-weight: 400;
    font-size: 96px;
    line-height:178px;
    color: white;
}
#header h3{
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 108px;
}